[Unit]
Description=monad-ble advertisement service
After=network.target bluetooth.target

[Service]
ExecStart=/usr/local/bin/monad-ble.sh
Type=simple
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
